In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("Churn_Modelling.csv")

In [3]:
data.head(5)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
X = data.iloc[:, 3:13]
y = data.iloc[:, 13]

In [5]:
X

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77
9997,709,France,Female,36,7,0.00,1,0,1,42085.58
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78

In [6]:
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [7]:
geography = pd.get_dummies(X['Geography'], drop_first = True)

In [8]:
gender = pd.get_dummies(X['Gender'], drop_first = True)

In [9]:
X = pd.concat([X, geography, gender], axis = 1)

In [10]:
X

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,France,Female,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0,0,1
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0,0,1
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,0,0,0
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1,0,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0,0,0

In [11]:
X = X.drop(['Geography', 'Gender'], axis = 1)

In [12]:
X

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,0,0,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,0,0,0

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)

In [14]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [15]:
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LeakyReLU, PReLU, ELU
from keras.layers import Dropout

In [16]:
classifier = Sequential()

In [17]:
classifier.add(Dense(units = 6, kernel_initializer = 'he_uniform', activation = 'relu', input_dim = 11))

In [18]:
classifier.add(Dense(units = 6, kernel_initializer = 'he_uniform', activation = 'relu'))

In [22]:
classifier.add(Dense(units = 1, kernel_initializer = 'glorot_uniform', activation = 'sigmoid'))

In [23]:
classifier.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 6)                 72
_________________________________________________________________
dense_1 (Dense)              (None, 6)                 42
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 7
=================================================================
Total params: 121
Trainable params: 121
Non-trainable params: 0
_________________________________________________________________

In [24]:
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics =['accuracy'])

In [26]:
model_history = classifier.fit(X_train, y_train, validation_split = 0.33, batch_size = 10, epochs = 100)

Epoch 1/100
469/469 [==============================] - 2s 5ms/step - loss: 0.5270 - accuracy: 0.7609 - val_loss: 0.4882 - val_accuracy: 0.7962
Epoch 2/100
469/469 [==============================] - 1s 3ms/step - loss: 0.4610 - accuracy: 0.7985 - val_loss: 0.4625 - val_accuracy: 0.7962
Epoch 3/100
469/469 [==============================] - 1s 3ms/step - loss: 0.4414 - accuracy: 0.8023 - val_loss: 0.4498 - val_accuracy: 0.7997
Epoch 4/100
469/469 [==============================] - 1s 3ms/step - loss: 0.4303 - accuracy: 0.8085 - val_loss: 0.4425 - val_accuracy: 0.8074
Epoch 5/100
469/469 [==============================] - 1s 3ms/step - loss: 0.4224 - accuracy: 0.8164 - val_loss: 0.4373 - val_accuracy: 0.8061
Epoch 6/100
469/469 [==============================] - 1s 3ms/step - loss: 0.4174 - accuracy: 0.8211 - val_loss: 0.4335 - val_accuracy: 0.8070
Epoch 7/100
469/469 [==============================] - 1s 3ms/step - loss: 0.4137 - accuracy: 0.8266 - val_loss: 0.4313 - val_accuracy: 0.8092
Epoch 8/100
469/469 [==============================] - 1s 3ms/step - loss: 0.4108 - accuracy: 0.8260 - val_loss: 0.4294 - val_accuracy: 0.8135
Epoch 9/100
469/469 [==============================] - 1s 3ms/step - loss: 0.4082 - accuracy: 0.8283 - val_loss: 0.4265 - val_accuracy: 0.8144
Epoch 10/100
469/469 [==============================] - 1s 3ms/step - loss: 0.4053 - accuracy: 0.8305 - val_loss: 0.4237 - val_accuracy: 0.8174
Epoch 11/100
469/469 [==============================] - 1s 3ms/step - loss: 0.4026 - accuracy: 0.8326 - val_loss: 0.4211 - val_accuracy: 0.8196
Epoch 12/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3993 - accuracy: 0.8337 - val_loss: 0.4172 - val_accuracy: 0.8213
Epoch 13/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3946 - accuracy: 0.8334 - val_loss: 0.4166 - val_accuracy: 0.8243
Epoch 14/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3899 - accuracy: 0.8326 - val_loss: 0.4064 - val_accuracy: 0.8269
Epoch 15/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3842 - accuracy: 0.8379 - val_loss: 0.4004 - val_accuracy: 0.8308
Epoch 16/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3771 - accuracy: 0.8422 - val_loss: 0.3926 - val_accuracy: 0.8364
Epoch 17/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3697 - accuracy: 0.8464 - val_loss: 0.3856 - val_accuracy: 0.8382
Epoch 18/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3632 - accuracy: 0.8522 - val_loss: 0.3805 - val_accuracy: 0.8455
Epoch 19/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3575 - accuracy: 0.8539 - val_loss: 0.3759 - val_accuracy: 0.8455
Epoch 20/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3538 - accuracy: 0.8595 - val_loss: 0.3727 - val_accuracy: 0.8498
Epoch 21/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3498 - accuracy: 0.8584 - val_loss: 0.3690 - val_accuracy: 0.8498
Epoch 22/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3469 - accuracy: 0.8639 - val_loss: 0.3670 - val_accuracy: 0.8498
Epoch 23/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3445 - accuracy: 0.8605 - val_loss: 0.3651 - val_accuracy: 0.8524
Epoch 24/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3429 - accuracy: 0.8633 - val_loss: 0.3635 - val_accuracy: 0.8520
Epoch 25/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3408 - accuracy: 0.8648 - val_loss: 0.3617 - val_accuracy: 0.8524
Epoch 26/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3396 - accuracy: 0.8644 - val_loss: 0.3615 - val_accuracy: 0.8537
Epoch 27/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3387 - accuracy: 0.8627 - val_loss: 0.3604 - val_accuracy: 0.8542
Epoch 28/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3370 - accuracy: 0.8646 - val_loss: 0.3590 - val_accuracy: 0.8555
Epoch 29/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3369 - accuracy: 0.8633 - val_loss: 0.3597 - val_accuracy: 0.8529
Epoch 30/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3356 - accuracy: 0.8635 - val_loss: 0.3593 - val_accuracy: 0.8516
Epoch 31/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3354 - accuracy: 0.8629 - val_loss: 0.3587 - val_accuracy: 0.8520
Epoch 32/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3347 - accuracy: 0.8639 - val_loss: 0.3582 - val_accuracy: 0.8550
Epoch 33/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3339 - accuracy: 0.8652 - val_loss: 0.3589 - val_accuracy: 0.8524
Epoch 34/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3338 - accuracy: 0.8639 - val_loss: 0.3565 - val_accuracy: 0.8546
Epoch 35/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3332 - accuracy: 0.8665 - val_loss: 0.3577 - val_accuracy: 0.8529
Epoch 36/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3325 - accuracy: 0.8642 - val_loss: 0.3566 - val_accuracy: 0.8533
Epoch 37/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3319 - accuracy: 0.8656 - val_loss: 0.3570 - val_accuracy: 0.8559
Epoch 38/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3319 - accuracy: 0.8639 - val_loss: 0.3578 - val_accuracy: 0.8533
Epoch 39/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3317 - accuracy: 0.8652 - val_loss: 0.3569 - val_accuracy: 0.8537
Epoch 40/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3312 - accuracy: 0.8646 - val_loss: 0.3578 - val_accuracy: 0.8537
Epoch 41/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3309 - accuracy: 0.8669 - val_loss: 0.3565 - val_accuracy: 0.8529
Epoch 42/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3305 - accuracy: 0.8663 - val_loss: 0.3568 - val_accuracy: 0.8533
Epoch 43/100
469/469 [==============================] - 2s 3ms/step - loss: 0.3304 - accuracy: 0.8667 - val_loss: 0.3559 - val_accuracy: 0.8537
Epoch 44/100
469/469 [==============================] - 2s 3ms/step - loss: 0.3304 - accuracy: 0.8648 - val_loss: 0.3562 - val_accuracy: 0.8537
Epoch 45/100
469/469 [==============================] - 2s 3ms/step - loss: 0.3299 - accuracy: 0.8663 - val_loss: 0.3561 - val_accuracy: 0.8533
Epoch 46/100
469/469 [==============================] - 2s 3ms/step - loss: 0.3296 - accuracy: 0.8659 - val_loss: 0.3562 - val_accuracy: 0.8563
Epoch 47/100
469/469 [==============================] - 2s 3ms/step - loss: 0.3294 - accuracy: 0.8644 - val_loss: 0.3559 - val_accuracy: 0.8537
Epoch 48/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3296 - accuracy: 0.8654 - val_loss: 0.3569 - val_accuracy: 0.8542
Epoch 49/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3293 - accuracy: 0.8663 - val_loss: 0.3565 - val_accuracy: 0.8533
Epoch 50/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3288 - accuracy: 0.8669 - val_loss: 0.3570 - val_accuracy: 0.8533
Epoch 51/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3288 - accuracy: 0.8665 - val_loss: 0.3553 - val_accuracy: 0.8559
Epoch 52/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3287 - accuracy: 0.8667 - val_loss: 0.3583 - val_accuracy: 0.8568
Epoch 53/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3289 - accuracy: 0.8656 - val_loss: 0.3563 - val_accuracy: 0.8563
Epoch 54/100
469/469 [==============================] - 2s 3ms/step - loss: 0.3286 - accuracy: 0.8667 - val_loss: 0.3556 - val_accuracy: 0.8559
Epoch 55/100
469/469 [==============================] - 2s 3ms/step - loss: 0.3280 - accuracy: 0.8669 - val_loss: 0.3579 - val_accuracy: 0.8568
Epoch 56/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3289 - accuracy: 0.8654 - val_loss: 0.3566 - val_accuracy: 0.8572
Epoch 57/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3281 - accuracy: 0.8650 - val_loss: 0.3565 - val_accuracy: 0.8559

Epoch 58/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3279 - accuracy: 0.8661 - val_loss: 0.3564 - val_accuracy: 0.8568
Epoch 59/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3278 - accuracy: 0.8656 - val_loss: 0.3557 - val_accuracy: 0.8546
Epoch 60/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3281 - accuracy: 0.8669 - val_loss: 0.3552 - val_accuracy: 0.8546
Epoch 61/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3274 - accuracy: 0.8661 - val_loss: 0.3547 - val_accuracy: 0.8546
Epoch 62/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3276 - accuracy: 0.8659 - val_loss: 0.3556 - val_accuracy: 0.8555
Epoch 63/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3271 - accuracy: 0.8676 - val_loss: 0.3557 - val_accuracy: 0.8546
Epoch 64/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3272 - accuracy: 0.8663 - val_loss: 0.3559 - val_accuracy: 0.8559
Epoch 65/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3266 - accuracy: 0.8652 - val_loss: 0.3558 - val_accuracy: 0.8555
Epoch 66/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3267 - accuracy: 0.8661 - val_loss: 0.3563 - val_accuracy: 0.8542
Epoch 67/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3263 - accuracy: 0.8654 - val_loss: 0.3571 - val_accuracy: 0.8533
Epoch 68/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3269 - accuracy: 0.8646 - val_loss: 0.3550 - val_accuracy: 0.8550
Epoch 69/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3270 - accuracy: 0.8663 - val_loss: 0.3561 - val_accuracy: 0.8559
Epoch 70/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3262 - accuracy: 0.8663 - val_loss: 0.3552 - val_accuracy: 0.8568
Epoch 71/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3266 - accuracy: 0.8673 - val_loss: 0.3571 - val_accuracy: 0.8589
Epoch 72/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3266 - accuracy: 0.8635 - val_loss: 0.3549 - val_accuracy: 0.8559
Epoch 73/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3263 - accuracy: 0.8669 - val_loss: 0.3573 - val_accuracy: 0.8572
Epoch 74/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3263 - accuracy: 0.8654 - val_loss: 0.3564 - val_accuracy: 0.8559
Epoch 75/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3259 - accuracy: 0.8684 - val_loss: 0.3574 - val_accuracy: 0.8559
Epoch 76/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3258 - accuracy: 0.8669 - val_loss: 0.3576 - val_accuracy: 0.8568
Epoch 77/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3259 - accuracy: 0.8654 - val_loss: 0.3560 - val_accuracy: 0.8563
Epoch 78/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3260 - accuracy: 0.8678 - val_loss: 0.3586 - val_accuracy: 0.8555
Epoch 79/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3258 - accuracy: 0.8671 - val_loss: 0.3576 - val_accuracy: 0.8555
Epoch 80/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3261 - accuracy: 0.8663 - val_loss: 0.3565 - val_accuracy: 0.8559
Epoch 81/100
469/469 [==============================] - 2s 3ms/step - loss: 0.3260 - accuracy: 0.8661 - val_loss: 0.3578 - val_accuracy: 0.8555
Epoch 82/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3259 - accuracy: 0.8673 - val_loss: 0.3570 - val_accuracy: 0.8559
Epoch 83/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3255 - accuracy: 0.8671 - val_loss: 0.3570 - val_accuracy: 0.8550
Epoch 84/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3254 - accuracy: 0.8650 - val_loss: 0.3575 - val_accuracy: 0.8572
Epoch 85/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3253 - accuracy: 0.8673 - val_loss: 0.3573 - val_accuracy: 0.8563
Epoch 86/100
469/469 [==============================] - 2s 3ms/step - loss: 0.3258 - accuracy: 0.8671 - val_loss: 0.3571 - val_accuracy: 0.8550
Epoch 87/100
469/469 [==============================] - 2s 3ms/step - loss: 0.3250 - accuracy: 0.8654 - val_loss: 0.3581 - val_accuracy: 0.8563
Epoch 88/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3248 - accuracy: 0.8667 - val_loss: 0.3572 - val_accuracy: 0.8555
Epoch 89/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3253 - accuracy: 0.8673 - val_loss: 0.3566 - val_accuracy: 0.8542
Epoch 90/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3254 - accuracy: 0.8678 - val_loss: 0.3557 - val_accuracy: 0.8555
Epoch 91/100
469/469 [==============================] - 2s 3ms/step - loss: 0.3254 - accuracy: 0.8680 - val_loss: 0.3568 - val_accuracy: 0.8546
Epoch 92/100
469/469 [==============================] - 2s 3ms/step - loss: 0.3252 - accuracy: 0.8659 - val_loss: 0.3579 - val_accuracy: 0.8559
Epoch 93/100
469/469 [==============================] - 2s 3ms/step - loss: 0.3255 - accuracy: 0.8669 - val_loss: 0.3576 - val_accuracy: 0.8542
Epoch 94/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3256 - accuracy: 0.8673 - val_loss: 0.3574 - val_accuracy: 0.8537
Epoch 95/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3256 - accuracy: 0.8671 - val_loss: 0.3567 - val_accuracy: 0.8559
Epoch 96/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3248 - accuracy: 0.8684 - val_loss: 0.3566 - val_accuracy: 0.8555
Epoch 97/100
469/469 [==============================] - 2s 3ms/step - loss: 0.3252 - accuracy: 0.8676 - val_loss: 0.3569 - val_accuracy: 0.8537
Epoch 98/100
469/469 [==============================] - 2s 3ms/step - loss: 0.3255 - accuracy: 0.8656 - val_loss: 0.3562 - val_accuracy: 0.8568
Epoch 99/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3251 - accuracy: 0.8665 - val_loss: 0.3574 - val_accuracy: 0.8559
Epoch 100/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3247 - accuracy: 0.8665 - val_loss: 0.3612 - val_accuracy: 0.8572

In [27]:
y_pred = classifier.predict(X_test)

In [28]:
y_pred

array([[0.28030628],
       [0.27616906],
       [0.07226175],
       ...,
       [0.07207146],
       [0.03517064],
       [0.45154536]], dtype=float32)